@use "sass:meta";

@layer radix, radix-overrides, base;

@layer radix {
  /* Radix classes here */
  @include meta.load-css("~/@radix-ui/themes/styles.css");
}

// Radix UI Overrides
@layer radix-overrides {
  .radix-themes {
    --cursor-button: pointer;
    --base-button-height: auto;
  }
}

/* General base styling here */
@layer base {
  body {
    margin: 0;
    min-width: 320px;
    color: var(--gray-12);
  }

  ul {
    &.column {
      --gap: var(--space-2);

      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: var(--gap);

      > li {
        display: flex;
        align-items: center;
      }
    }
  }

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .d-block {
    display: block;
  }

  .icon {
    width: 1em;
    height: 1em;
  }
}
