@use "sass:meta";

@layer radix, base;

@layer radix {
  /* Radix classes here */
  @include meta.load-css("~/@radix-ui/themes/styles.css");
}

@layer base {
  /* Base classes here */

  body {
    margin: 0;
    min-width: 320px;
    color: var(--gray-12);
  }

  svg,
  img {
    display: block;
  }

  ul {
    &.column {
      --gap: var(--space-2);

      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: var(--gap);

      > li {
        display: flex;
        align-items: center;
      }
    }
  }

  a:hover {
    text-decoration: underline;
  }
}
