.PopoverContent {
  color: var(--gray-6);
  border-radius: var(--radius-3);
  background: var(--color-panel);
  border: 1px solid currentColor;
  outline: none;
}

.PopoverArrow {
  fill: currentColor;
}
